html{
    padding: 0px;
}
body{
    background-color:black;
    padding:0px;
    margin:0;
}
h1{
    color:black;
    font-family: sans-serif;
    padding-right:16px;
    margin:0;
    text-align-last: center;
}
.centerer{
    text-align:center;
}
.bcolor{
    background-color: white;
    padding : 20px;
}
img {
    align-self: center;
}